/.git
/.idea
/Data/FacialExpression/*.csv
/Data/Minist/*
/Data/NLP/*
/Data/NLP2/*
/Data/Markov/*
/Data/NLP_CH/*
/Data/CNN/*
/NLP/3.poetry*
param*.txt
Minist/test.py
/UI/*
UI
/QtUI/*
QtUI
test*.py
main.py
theme_blue_rc.py
./logs/*
logs